<head>
	<title>ChatBot</title>
	<link href="/static/show.css" rel="stylesheet" type="text/css"/>
</head>
<div id="h1div">
	<h1> GENIE ChatBot </h1>
</div>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/static/show.js"></script>
	<br>
	<div id='bodybox'>
	  <div id='chatborder'>
	    <p id="chatlog7" class="chatlog">&nbsp;</p>
	    <p id="chatlog6" class="chatlog left_align">&nbsp;</p>
	    <p id="chatlog5" class="chatlog">&nbsp;</p>
	    <p id="chatlog4" class="chatlog left_align">&nbsp;</p>
	    <p id="chatlog3" class="chatlog">&nbsp;</p>
	    <p id="chatlog2" class="chatlog left_align">&nbsp;</p>
	    <p id="chatlog1" class="chatlog"><b>Ginie: </b>Hi there!</p>
	    <input type="text" name="chat" id="chatbox" placeholder="Type here to talk to me." onfocus="placeHolder()">
	  </div>
	</div>
</body>